
/*
font-family: "Poiret One", sans-serif;
font-family: "Spirax", sans-serif;*/

/* (selector)a{(property)background-color:(value)yellow;} */

/* direkt referens */

/* ref till spec klass */

/* ref till spec id */

/*
.link  => verkar på alla element av klass link
.shape => "-------"  shape
.link .shape verkar på alla element som har båda klasserna

/* specificitet */
* {
    font-family: "Poiret One", sans-serif;
    margin: 0;
}

main {
    margin-top: 0px;
}


.parag-1{
    padding-left: 20%;
}

article h1 {
    color: darkred;
    font-size: 4rem;
    padding-top: 100px; 
    font-family: "Spirax", sans-serif;
    padding-left: 50%;
}

article.box-red p {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 100px; 
    background-color: rgba(139, 0, 0, 0.7);
}



article ul {
    background-color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
    margin-bottom: 50px;
}

article li {
    
    font-size: 1.5rem;
    color: whitesmoke
}


article.box-black {
    background-color:rgba(0, 0, 0, 0.6);
    
}

nav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    float: center;
}

nav .link {
    color: whitesmoke;
    top: 0;
    font-family: "Spirax", sans-serif;
    font-size: 2.5rem;
    padding: 14px 16px;
    text-decoration: none;
    
}

section.hot{
    background-image: url("assets/hot.jpg");
    font-size: 2rem; 
    width: 100%;
    height: 100%;
    
}
 
section article.parag-1 {
    margin-left: 20%;
}

section.juicy {
    background-image: url("assets/juicy.jpg");
    font-size: 2rem; 
}

section.cosy {
    background-image: url("assets/cosy.jpg");
    font-size: 2rem; 
}

 


